.blueHeader{background-color: #D4E2EB;}
.pinkHeader{background-color: #FFEFEA;}
.greenLeft{background-color: #CFFDBC;}
.suedeCenter{background-color: #ECDEC9;}
.yellowRight{background-color: #FFFFBF;}
.pinkFooter{background-color: #FFEFEA;}
.coralFooter{background-color: #FADDCC;}
.violetBody{background-color: #E6E6FA;}