.coralHeader{background-color: #FADDCC;}
.blueHeader{background-color: #D4E2EB;}
.pinkHeader{background-color: #FFEFEA;}
.greenLeft{background-color: #CFFDBC;width: 10%;}
.suedeCenter{background-color: #ECDEC9;width: 80%;}
.yellowRight{background-color: #FFFFBF;width: 10%;}
.pinkFooter{background-color: #FFEFEA;}
.coralFooter{background-color: #FADDCC;}
.violetBody{background-color: #E6E6FA;}
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap');
*, *::before, *::after {
    font-size: 1vw;font-weight: 600;box-sizing: 
    border-box;font-family: 
    'Cinzel', "Century Schoolbook","Times New Roman", Times, Courier,"Georgia", serif;
    text-decoration: none;
    }

.chestnutText{color: #79443B;}
.sanguineText{color: #961906;}
.hazelText{color: #508E29;}

/* 

[Resources]                     [https://developer.mozilla.org/en-US/docs/Web/CSS/color]
                                [https://www.w3schools.com/css/css3_flexbox_container.asp]
                                [https://developer.mozilla.org/en-US/docs/Web/CSS/flex]
                                [https://developer.mozilla.org/en-US/docs/Web/CSS/color]
                                [https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_flex-direction_column]
                                [https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_flex-direction_row]
                                [https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox]

[Development Commentary]        Starting over from the very beginning doesn't really feel like it's going to save me
                                very much time or agony.


*/

.topThird{display: flex;flex-direction: column;}
.centerThird{display: flex;flex-direction: row;}
.bottomThird{display: flex;flex-direction: column;}