.carousel-control-next{font-size: 3vh;    color: black;} 

.carousel-control-prev {font-size: 3vh;    color: black;}

.carousel-control-next-icon{font-size: 8vh; font-weight: 900;   color: black;}
.carousel-control-prev-icon{font-size: 8vh; font-weight: 900;   color: black;}