/MultipleGradientPaint$ColorSpaceType.class
/MultipleGradientPaint$CycleMethod.class
/MultipleGradientPaint.class
/MultipleGradientPaintContext.class
/RadialGradientPaint.class
/RadialGradientPaintContext.class
