/JavaFXFontBuilder.class
/JavaFXImageBuilder.class
/JavaFXSceneBuilder.class
/ProxyBuilder$AnnotationValue.class
/ProxyBuilder$ArrayListWrapper.class
/ProxyBuilder$Getter.class
/ProxyBuilder$Property.class
/ProxyBuilder$Setter.class
/ProxyBuilder.class
/TriangleMeshBuilder.class
/URLBuilder.class
