/CGAffineTransform.class
/CGPoint.class
/CGRect.class
/CGSize.class
/CTFactory.class
/CTFontFile$SelfDisposerRecord.class
/CTFontFile.class
/CTFontStrike.class
/CTGlyph.class
/CTGlyphLayout.class
/CTStrikeDisposer.class
/OS.class
