/D2D1_COLOR_F.class
/D2D1_MATRIX_3X2_F.class
/D2D1_PIXEL_FORMAT.class
/D2D1_POINT_2F.class
/D2D1_RENDER_TARGET_PROPERTIES.class
/DWDisposer.class
/DWFactory.class
/DWFontFile.class
/DWFontStrike.class
/DWGlyph.class
/DWGlyphLayout.class
/DWRITE_GLYPH_METRICS.class
/DWRITE_GLYPH_RUN.class
/DWRITE_MATRIX.class
/DWRITE_SCRIPT_ANALYSIS.class
/ID2D1Brush.class
/ID2D1Factory.class
/ID2D1RenderTarget.class
/IDWriteFactory.class
/IDWriteFont.class
/IDWriteFontCollection.class
/IDWriteFontFace.class
/IDWriteFontFamily.class
/IDWriteFontFile.class
/IDWriteFontList.class
/IDWriteGlyphRunAnalysis.class
/IDWriteLocalizedStrings.class
/IDWriteTextAnalyzer.class
/IDWriteTextFormat.class
/IDWriteTextLayout.class
/IUnknown.class
/IWICBitmap.class
/IWICBitmapLock.class
/IWICImagingFactory.class
/JFXTextAnalysisSink.class
/JFXTextRenderer.class
/OS.class
/RECT.class
