/HostServicesDelegate$StandaloneHostService.class
/HostServicesDelegate.class
/LauncherImpl.class
/ModuleAccess.class
/ParametersImpl.class
/PlatformImpl$FinishListener.class
/PlatformImpl.class
/WindowsHighContrastScheme.class
