/ByteBufferAllocator.class
/ByteBufferPool$ByteBufferAllocatorImpl.class
/ByteBufferPool.class
/Cookie.class
/CookieJar.class
/CookieManager.class
/CookieStore$GetComparator.class
/CookieStore$RemovalComparator.class
/CookieStore.class
/DateParser$Time.class
/DateParser.class
/DirectoryURLConnection$DirectoryInputStream.class
/DirectoryURLConnection.class
/ExtendedTime.class
/FormDataElement$ByteArrayElement.class
/FormDataElement$FileElement.class
/FormDataElement.class
/HTTP2Loader.class
/NetworkContext$URLLoaderThreadFactory.class
/NetworkContext.class
/PublicSuffixes$Rule.class
/PublicSuffixes$Rules.class
/PublicSuffixes.class
/SocketStreamHandle$CustomThreadFactory.class
/SocketStreamHandle$State.class
/SocketStreamHandle.class
/URLLoader$InvalidResponseException.class
/URLLoader.class
/URLLoaderBase.class
/URLs.class
/Util.class
