/D3DContext.class
/D3DContextSource.class
/D3DDriverInformation.class
/D3DFrameStats.class
/D3DGraphics.class
/D3DMesh$D3DMeshDisposerRecord.class
/D3DMesh.class
/D3DMeshView$D3DMeshViewDisposerRecord.class
/D3DMeshView.class
/D3DPhongMaterial$D3DPhongMaterialDisposerRecord.class
/D3DPhongMaterial.class
/D3DPipeline.class
/D3DRTTexture.class
/D3DRenderTarget.class
/D3DResource$D3DRecord.class
/D3DResource.class
/D3DResourceFactory.class
/D3DShader.class
/D3DSwapChain.class
/D3DTexture.class
/D3DTextureData.class
/D3DTextureResource.class
/D3DVramPool.class
