/FTDisposer.class
/FTFactory$StubGlyphLayout.class
/FTFactory.class
/FTFontFile.class
/FTFontStrike.class
/FTGlyph.class
/FT_Bitmap.class
/FT_GlyphSlotRec.class
/FT_Glyph_Metrics.class
/FT_Matrix.class
/HBGlyphLayout.class
/OSFreetype.class
/OSPango.class
/PangoGlyphLayout.class
/PangoGlyphString.class
