/Font.class
/FontPosture.class
/FontSmoothingType.class
/FontWeight.class
/HitInfo.class
/Text$StyleableProperties.class
/Text$TextAttribute.class
/Text.class
/TextAlignment.class
/TextBoundsType.class
/TextFlow$EmbeddedSpan.class
/TextFlow$StyleableProperties.class
/TextFlow.class
/package-info.class
