/EHTMLReadMode.class
/HTMLCodec.class
/WinAccessible.class
/WinApplication.class
/WinClipboardDelegate.class
/WinCommonDialogs.class
/WinCursor.class
/WinDnDClipboard.class
/WinGestureSupport.class
/WinHTMLCodec.class
/WinMenuBarDelegate.class
/WinMenuDelegate.class
/WinMenuImpl.class
/WinMenuItemDelegate$CommandIDManager.class
/WinMenuItemDelegate.class
/WinPixels.class
/WinPlatformFactory.class
/WinRobot.class
/WinSystemClipboard$MimeTypeParser.class
/WinSystemClipboard.class
/WinTextRangeProvider.class
/WinTimer.class
/WinVariant.class
/WinView.class
/WinWindow.class
